/* https://meiert.com/en/blog/how-to-order-css-selectors */
/* 01. Universal */
/* 02. Document */
/* 03. Metadata */
/* 04. Sectioning and Structuring */
/* 05. Headings */
/* 06. Lists */
/* 07. Media */
/* 08. Forms */
/* 09. Tables */
/* 10. Phrasing */
/* 11. Misc */
/* 12. Attributes */

/* 01. Universal */
*, *::before, *::after {
    box-sizing: border-box;
}

:host {
    --default-box-shadow-color: rgba(245, 190, 190, 0.5);
    --default-blue-color: rgba(253, 245, 245, 0.5);
    --default-gray-color: rgb(255, 255, 255);
    --default-green-color: rgba(245, 238, 244, 0.884);
    --default-box-shadow: 5px 5px 5px 1px var(--default-box-shadow-color);
    --default-border-solid: 1px solid var(--default-gray-color);
    --default-font-size: 16px;
    --default-line-height: 30px;
    --default-font-family: 'Arial', sans-serif;
    --default-font: var(--default-font-size) / var(--default-line-height) var(--default-font-family);
}

/* 06. Lists */
ul, ul li {
    display: inline-block;
}

ul li ul {
    display: none;
}

li::selection {
    background-color: var(--default-blue-color);
}

/* 07. Media */
img {
    border-radius: 5px;
}

img::selection {
    background-color: var(--default-blue-color);
}

/* 10. Phrasing */
a::selection {
    background-color: var(--default-blue-color);
}

/* 12. Attributes */
.container-outer {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: var(--default-green-color);
}

.container {
    border-bottom: var(--default-border-solid);
    margin: 0px auto;
}

.container-img-photo {
    max-height: 70px;
    max-width: 70px;
    display: none;
    margin: 0px 50px 10px 100px;
}

.img-photo:hover {
    animation: grow 5s;
}

.nav-menu {
    margin: 10px 0px 0px;
}

.nav-menu li:not(:first-child) {
    display: none;
}

.nav-menu a {
    float: left;
    text-decoration: none;
    font: var(--default-font);
    padding: 10px;
    margin: 0px 0px 10px;
    color: rgba(0, 0, 0);
    width: 100%;
}

.nav-menu a:hover {
    border: var(--default-border-solid);
    border-radius: 5px;
    background-color: var(--default-blue-color);
    box-shadow: var(--default-box-shadow);    
    width: 100%;
}

.nav-menu a.icon {
    float: right;
    display: block;
    width: 100%;
}

.nav-menu.responsive {
    position: relative;
    width: 100%;
}

.nav-menu.responsive ul li, .nav-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
}

.nav-menu.responsive a.icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(2) translateY(17px);
    }
    50% {
        transform: scale(2) translateY(17px);
    }
    to {
        transform: scale(1);
    }
}